$header-padding: 50px;

.header {
  background-color: #F5F8FF;
  position: fixed;
  left: 0px;
  top: 0px;
  padding-left: 50px;
  width: 100%;
  z-index: 100;

  .menu {
    padding: 0px;
    margin: 0px;

    li {
      display: inline-block;
      text-align: center;

      .link-text {
        border: solid 1px #CCCCCC;
        display: block;
        padding: 10px 0px;
        transition: all 0.3s ease;

        &:hover {
          background-color: #AAAAAA;
          transform: scale(1.15);
        }
      }
    }
  }

  ul {
    height: 100%;
    width: 80%;

    .left {
      float: left;
    }

    .text {
      width: 100px;
    }
  }
}

.header-padding {
  height: $header-padding;
}
