<app-header>aaa</app-header>

<div>
  <ul>
    <li class="img-list" *ngFor="let imgSrc of list1">
      <img src={{imgSrc}} />
    </li><!--
    --><li class="img-list" *ngFor="let imgSrc of list1">
      <img src={{imgSrc}} />
    </li><!--
    --><li class="img-list" *ngFor="let imgSrc of list1">
      <img src={{imgSrc}} />
    </li>
  </ul>

  <h2>このサイトはなあに？</h2>

  <p>
    管理人の<b>とえら</b>が作ったゲームやら記事やらが置かれるサイト(になるはず！)
  </p>
  <p>
    このサイトはどのページもリンクフリー、報告も任意です。
  </p>
  <p>
    画像の無断転載と、画像への直リンクは禁止です！！！
  </p>

  <ul>
    <li class="img-list" *ngFor="let imgSrc of list2">
      <img src={{imgSrc}} />
    </li><!--
    --><li class="img-list" *ngFor="let imgSrc of list2">
      <img src={{imgSrc}} />
    </li><!--
    --><li class="img-list" *ngFor="let imgSrc of list2">
      <img src={{imgSrc}} />
    </li>
  </ul>

  <h2>とえら(mizzsig)のアカウントなどリンク集</h2>

  <ul class="link-list">
    <li><a href="https://twitter.com/mizzsig">Twitter</a></li>
    <li><a href="https://www.youtube.com/channel/UCb2WxFdr5dofyDnAANnsY1A">Youtube</a></li>
    <li><a href="https://www.pixiv.net/member.php?id=6026774">Pixiv</a></li>
    <li><a href="https://github.com/mizzsig">Github</a></li>
    <li><a href="http://sssignal.web.fc2.com/">旧・水飴信号 - Starch Syrup Signal -</a></li>
  </ul>

  <ul>
    <li class="img-list" *ngFor="let imgSrc of list1">
      <img src={{imgSrc}} />
    </li><!--
    --><li class="img-list" *ngFor="let imgSrc of list1">
      <img src={{imgSrc}} />
    </li><!--
    --><li class="img-list" *ngFor="let imgSrc of list1">
      <img src={{imgSrc}} />
    </li>
  </ul>

  <h2>ご意見・ご連絡など</h2>

  <form>
    <div>
      <label>名前 : </label>
      <input />
    </div>
    <div>
      <label>メールアドレス : </label>
      <input />
    </div>
    <div>
      <label>件名 : </label>
      <input />
    </div>
    <div>
      <label>本文 : </label>
      <textarea></textarea>
    </div>
  </form>

</div>

<app-sub></app-sub>
